S3method(logLik,vblogitfit)
S3method(plot,vblogitfit)
S3method(plot,vblogitfit_marginals)
S3method(print,vblogitfit)
S3method(print,vblogitfit_marginals)
S3method(summary,vblogitfit)
export(marginals.vblogifit)
export(vblogit)
exportMethods(coef)
exportMethods(logLik)
exportMethods(marginals)
exportMethods(plot)
exportMethods(print)
exportMethods(summary)
import(Matrix)
